<div class="wrapper" id="one">
    <h3 class="first">
      Meet Flappy.
    </h3>
     <p class="first-p" id="space">
       He's not an ordinary plush toy, he can fly! (well, kind of)
     <p>

    <div class="center">
      <%= image_tag 'placeholder.png' %>
    </div>

</div>

</div>

<div class="wrapper" id="two">
  <p class="first-p" id="space">
   <h3 class="first">
     To fly, he needs you to lift him up.
   </h3>
  </p>

  <div class="center" id="space">
    <%= image_tag 'placeholder.png' %>
  </div>

</div>

<div class="wrapper" id="three">
  <p class="first-p" id="space">
    <h3 class="first">
      Don't let him fall or hit a pipe! If you do, he dies. And you might...
    </h3>
  </p>

  <div class="center" id="space">
    <%= image_tag 'placeholder.png' %>
  </div>
</div>

<div class="wrapper" id="four">
  <p class="first-p" id="space">
    <h3 class="first">
      At least that's better than...
    </h3>
  </p>

  <div class="center" id="space">
    <%= image_tag 'placeholder.png' %>
  </div>

</div>

<div class="wrapper" id="five">
  <p class="first-p" id="space">
        <h3 class="first"> OK, seriously.</h3>
    <h3 class="first">What is a Flappy Toy game controller?</h3>

      <br />
      <p class="first-p">Flappy is a plush toy that controls the game on your phone or tablet. ‘The game’ is our version of the beloved ‘Flappy Bird’ by Dong Nguyen. To make Flappy fly in the game, you lift up Flappy (the toy)
      </p>

    </p>

</div>

<div class="wrapper" id="woah">
  <p class="first-p" id="space">
    <h3 class="first">
    Whoa, that’s cool! How does it work?
    </h3>

      <p class="first-p" id="space">
        Inside of Flappy is a sensor that connects wirelessly to your tablet or mobile device. The sensor detects motion, i.e. lifting Flappy up.
      <p>


      <div class="center" id="space">
        <%= image_tag 'placeholder.png' %>
      </div>

      <p class="first-p" id="space">
        Simply launch the game and bring Flappy near your device. Flappy connects automatically. Yep, kind of like magic. Now you’re ready to play!</p>

     </p>

  <div class="center" id="space">
    <%= image_tag 'placeholder.png' %>
  </div>

</div>


<div class="wrapper" id="woah">
  <p class="first-p" id="space">
    <h3 class="first">
    Whoa, that’s cool! How does it work?
    </h3>

      <p class="first-p" id="space">
        Inside of Flappy is a sensor that connects wirelessly to your tablet or mobile device. The sensor detects motion, i.e. lifting Flappy up.
      <p>

  </p>

  <div class="center" id="space">
    <%= image_tag 'flappy_placeholder.png' %>
  </div>

</div>




