<div class="wrapper" id="one">

    <h3 class="first">
      Meet Flappy.
    </h3>
     <p class="first-p" id="space">
       He's not an ordinary plush toy, he can fly! (well, kind of)
     <p>

    <div class="center">
      <%= image_tag 'meet-flappy.png' %>
    </div>

</div>


<div class="wrapper" id="two">
  <p class="first-p" id="space">
   <h3 class="first">
     To fly, he needs you to lift him up.
   </h3>
  </p>

  <div class="center" id="space">
    <%= image_tag 'playing-flappy.gif' %>
  </div>

</div>

<div class="wrapper" id="three">
  <p class="first-p" id="space">
    <h3 class="first">
      Don't let him fall or hit a pipe!
    </h3>
  </p>

  <div class="center" id="space">
    <%= image_tag 'flappy-hits-pipe.gif' %>
  </div>

</div>

<div class="wrapper" id="four">
  <p class="first-p" id="space">
    <h3 class="first">
      Yes, Flappy can be very VERY difficult to play with:
    </h3>
  </p>

  <div class="center" id="space">
    <%= image_tag 'difficult.gif' %>
  </div><a id="details"></a>


</div>

<div class="wrapper" id="four">
  <p class="first-p" id="space">
    <h3 class="first">
      But that’s ok.
    </h3>
    <h3 class="first">
      You can take your frustration out on him.
    </h3>
  </p>

  <div class="center" id="space">
    <%= image_tag 'angry-Jenn.gif' %>
  </div><a id="details"></a>

</div>

<div class="wrapper" id="four">
  <p class="first-p" id="space">
    <h3 class="first">
      Which, trust us, is a whole lot better than
    </h3>
    <h3 class="first">
      doing this:
    </h3>
  </p>

  <div class="center" id="space">
    <%= image_tag 'hammer.gif' %>
  </div><a id="details"></a>

</div>

<div class="wrapper" id="ioah">
</div>

<div class="wrapper" id="five-2">
  <p class="first-p" id="space">

  <h3 class="first"> OK, seriously.</h3>

  <h3 class="first">What is a Flappy Toy game controller?</h3>

  <br />
  <p class="first-p">Flappy is a plush toy that controls the game on your phone or tablet. ‘The game’ is our version of the beloved ‘Flappy Bird’ by Dong Nguyen. To make Flappy fly in the game, you lift up Flappy (the toy)
  </p>

  <div class="center" id="space"></div>

  <div class="center" id="space">
    <%= image_tag 'brian.png' %>
  </div>

  </p>

</div>

<div class="wrapper" id="woah">
  <p class="first-p" id="space">
    <h3 class="first">
    Whoa, that’s cool! How does it work?
    </h3>

      <p class="first-p" id="space">
        Inside of Flappy is a sensor that connects wirelessly to your tablet or mobile device. The sensor detects motion, i.e. lifting Flappy up.
      </p>


      <div class="center" id="space">
        <%= image_tag 'flappy-connect.png' %>
      </div>

  <p class="first-p">Simply launch the game and bring Flappy near your device. Flappy connects automatically. Yep, kind of like magic. Now you’re ready to play!</p>


  <div class="center" id="space"></div>
  <div class="center" id="space"></div>
  <div class="center" id="space"></div>

  <h3 class="first">
    Which devices does Flappy support?
  </h3>
  <p class="first-p">Most (newer) iOS and Android devices. <%= link_to 'Here’s the full list.', '#' %></p>

  <div class="center" id="space"></div>
  <div class="center" id="space"></div>

  <h3 class="first">
    Do you have more pictures of Flappy?
  </h3>
  <p class="first-p">Of course. <%= link_to 'Flappy loves Selfies.', '#' %></p>

  <div class="center" id="space"></div>
  <div class="center" id="space"></div>

  <h3 class="first">
    I have a question. What do I do?
  </h3>
  <p class="first-p">Check our <%= link_to 'FAQs.', '#' %></p>

  <div class="center" id="space"></div>
  <div class="center" id="space"></div>

  <h3 class="first">
    Who are you?
  </h3>
  <p class="first-p"><%= link_to 'Two lost souls.', '#' %></p>

</div>

<div class="wrapper" id="noah">
</div>

<div class="wrapper" id="noah">
</div>












