<div class="big_wrapper-points">
  <div class="wrapper-points center" id="middle_reserve">
    <h2 class="font-reserve">I WANT FLAPPY!</h2>
    <h2 class="font-reserve">HOW DO I GET FLAPPY?</h2>
    <br />
    <a href="/preorder/checkout" class="big-blue_button reserve-big-blue"><%= Settings.middle_reserve_text %></a>
     <div class="social-buttons-bottom">
    <%= link_to 'Share on Facebook', '', class: "zocial facebook" %>
    <div class="zocial twitter"><%= tweet_button %></div>
  </div>
  </div>
</div>

<div class="wrapper" id="four">
  <p class="first-p" id="space">
    <h2 class="first">
    Remember, only with your support
    </h2>
    <h2 class="first">
      will Flappy be made!
    </h2>
  </p>


 <div id="backing">
    <ul>
      <% if Settings.expiration_date.present? %>
        <li class="stats-bottom" id="days-bottom">
          <%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\D/, "") %>
          <span><%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\d/, "").gsub("about", "") %> left</span>
        </li>
      <% else %>
        <li class="stats-bottom" id="days-bottom">
            &infin;
            <span>days left</span>
          </li>
      <% end %>
    </ul>
 </div>


  <div class="pull-left" id="left-sam">
    <%= image_tag 'uncle-sam.png' %>
  </div>

</div>
