<div class="big_wrapper-points wrapper">
  <div class="wrapper-points center " id="middle_reserve">
    <h2 class="font-reserve">I WANT FLAPPY!</h2>
    <h2 class="font-reserve">HOW DO I GET FLAPPY?</h2>
    <br />


    <div class="steptext stepone">Step 1</div><a href="preorder/checkout.html" class="big-blue_button reserve-big-blue" id="homebottombutton">GET FLAPPY</a>
     <div class="steptext">Step 2</div>
   <div class="social-buttons-bottom">
    <div class="zocial facebook facebook-btn"><%= like_button %>Share on Facebook</div>
    <div class="zocial twitter"><%= tweet_button %></div>
  </div>
  </div>

</div><div id="ribbonwrap"></div>


<div class="wrapper" id="four" style="margin-bottom:100px; height: 420px;">
 <div class="pull-left" id="left-sam" style="margin-left:50px;">
    <img alt="Uncle sam" src="assets/uncle-sam-b959def602c6fea5300eab94a250f631.png" />
  </div>
  <p class="first-p" id="space">
    <h2 class="first">
     Remember, only with your support
    </h2>
    <h2 class="first">
      will Flappy come to life!
    </h2>
  </p>


<div id="backing">
<% if Order.revenue.to_f < Order.goal.to_f %>
 <div id="bottomprogress" style=" margin-left: 400px; margin-top:40px">
 <li class="stats" id="days" style="float:left; margin-left:-80px; margin-top:7px;line-height: .8; text-align:left; color: #f7931e; font-size: 34px;">

<% if Settings.expiration_date.present? %>
  <%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\D/, "") %>
  <span><%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\d/, "").gsub("about", "") %> left</span>
   <% else %>
   &infin;
  <span style="margin-left: -120px;">days left</span>
  <% end %>

  <div id='progress_bg' class='small bottomprogressbg'>
    <div id='progress' class='bottomprogress' style='width: <%= Order.percent %>%; float:left'>
    </div><div id='progress_text' style="float: left; margin-top: -7px;"><%= Order.percent * 1.1 %>% <%= Settings.progress_text %></div>
  </div>
 </li>
 <% else %>
   <div id='progress_bg' class='small bottomprogressbg'>
   <div id='progress' class='bottomprogress' style='width: <%= Order.percent %>%; '>
   </div><div id='progress_text' style="float: left; margin-top: -7px;"><%= Order.percent * 1.1 %>% <%= Settings.progress_text %></div>
  </div>
  <% end %>
  </div>
 </div>




</div>
