<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="wrapper-nav">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GET FLAPPY</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
         <li class=""><%= link_to 'Meet Flappy', '#' %></li>
         <li class=""><%= link_to 'Details', '#' %></li>
         <li class=""><%= link_to 'FAQ', '#' %></li>
         <li class=""><%= link_to 'Selfies', 'http://instagram.com/flappythetoy' %></li>
         <li class=""><%= link_to 'Flappy\'s Story', '#' %></li>
         <li class=""><%= link_to 'About Us', '#' %></li>
      </ul>
    </div>
  </div>
</nav>
