<nav class="flappynav" style="width: 100%; min-width:1024px; background: #fff;">
  <div class="navigationcontainer">
    <div class="navwrapper" style="width:960px; margin:auto;">
    <div class="navbarheader">
      <div id="logo" style=""><%= link_to logo, root_path %></a></div>
    </div>
      <ul class="navright">
         <li class=""><%= link_to 'Meet Flappy', '#meetflappy' %></li>
         <li class=""><%= link_to 'Details', '#details' %></li>
         <li class=""><%= link_to 'FAQ', faq_path %></li>
         <li class=""><%= link_to 'Flappy\'s Story', flappystory_path %></li>
         <li class=""><%= link_to 'About Us', about_path %></li>
         <li class=""><%= link_to 'Checkout', preorder_checkout_path %></li>
      </ul>
    </div>
  </div>
</nav>
