<%= render 'preorder/header_other' %>

<br />
<div class="wrapper-about center">
  <h2 class="mid">
  <div>
    <span class="font3"><%=image_tag 'about.png', alt: 'FLAPPY BIRD' %></span>
  </div>
 </h2>
</div>

<div class="wrapper" id="one">

    <h3 class="first-about">
     Brian and Jenn, passionate tech entrepreneurs from SF and Portland, dream of a world where virtual gameplay meets reality. They started a company, ZowPow, making interactive toys for mobile games.
    </h3>

    <div class="center" id="space"></div>

    <div class="center">
      <%= image_tag 'bj-1.png' %>
    </div>

</div>

<div class="wrapper" id="two-about">
   <h3 class="first-about">
   Hardworking, driven, good-looking, and a bit above average, Jenn and Brian spent all their savings to bootstrap the company. Brian even lived in an air-shaft and server room for nine months just to save money.

   <div class="center" id="space"></div>

   Things were going really well for the quirky duo. Brian, geeking out on sensors, locked in a basement, and Jenn, winning over game studios with her charm and wit. They won Venture Beat’s innovation competition, launched a first beta product, and got into Ycombinator.</h3>

  <div class="center" id="space">
    <%= image_tag 'about-jb.png' %>
  </div>

</div>

<div class="wrapper" id="three">
  <p class="first-p" id="space">
    <h3 class="first-about">
     But then, one fateful morning on Jan 21st 2014, they were introduced to a little bird named Flappy.
    </h3>

    <div class="center" id="space"></div>

    <h3 class="first-about" id="space">
      Their lives were changed forever...
    </h3>
  </p>

  <div class="center" id="space">
    <%= image_tag 'bj-2.png' %>
  </div>

</div>

<div class="wrapper" id="soah"></div>

<div class="wrapper" id="ioah"></div>

<%= render 'preorder/homepage/middle_about' %>












