<%= render 'preorder/header_other' %>


<br />
<div class="wrapper-cheq center">
  <h2 class="mid">
  <div>
   <span class="font3"><%=image_tag 'getflahappy.png', alt: 'FLAPPY BIRD' %></span>
  </div>
 </h2>
</div>

 <div class="pull-mid">
   <div class="row">
     <div class="col-md-6"  style="width: 483px;margin-left:-1px;">
      <div class="leftside-cheq"
      <div class="main_content">
      <%=image_tag 'checking-placeholder.png' %>

      <h5>Flappy comes with the game which is FREE to download from the iOS App Store and Google Play Store</h5>
      <br />
      <h5><strong>Product Details:</strong></h5>
      <h5>- Flappy is 6.5 x 6 x 4 inches</h5>
      <h5>- He weighs 6 ounces</h5>
      <h5>- He supports <%= link_to 'these devices', '#' %> and runs on two AAA batteries</h5>
      <h5>- Flappy rates (himself) 4.999 out of 5 stars</h5>
     </div>
    </div>

     <div class="col-md-6" style="width: 520px;margin-left:-50px;">
      <div class="rightside-cheq"
      <div class="main_content ">
      <form accept-charset="UTF-8" action="/preorder/prefill" id="checkout" method="post"><div style="margin:0;padding:0;display:inline">
       <span class="font-cheq">I WANT <input id="quantity" name="quantity" style="width: 100px;float: none; "/> FLAPPY'S</span><br /><br />
       <span class="font-cheq">SHIP TO</span>
          <select name="shippingoptions" id="shippingoptions">
            <option value="USA">United States - FREE!</option>
            <option value="CA">Canada - $4.99</option>
            <option value="UK">United Kingdom - $4.99</option>
          </select>
       <br /><br />
       <span class="font-cheq">TOTAL</span><div class="forminput" style="margin-right: 270px; width: 80px;">$15.99</div>
       <br /><br />

      <span class="font-cheq">
        SEND AS GIFT?
        <%= check_box_tag :gift, :gift, @gift %>
      </span>
      <br /><br />

      <div id="gift-form-section" class="<%= @gift ? '' : 'hidden' %>">
        <div class="font-cheq clearfix">
          To:
          <%= text_field_tag :to_name, nil, :class => "forminput topinput", :placeholder => "Name" %>
          <%= text_field_tag :to_email, nil, :class => "forminput", :placeholder => "Email" %>
        </div>
        <br />
        <div class="font-cheq clearfix">
          From:
          <%= text_field_tag :from_name, nil, :class => "forminput topinput", :placeholder => "Name" %>
          <%= text_field_tag :from_email, nil, :class => "forminput", :placeholder => "Email" %>
        </div>
        <br />
        <div class="font-cheq clearfix">
          Note:
          <%= text_area_tag :note, nil, :class => "forminput", :rows => 5 %>
        </div>
      </div>

      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="eHN/nv4yb3/Kk3Cy2NDLOJOCWzv7CWS/YAFopWAMHIg=" /></div>

        <div class="checkout_controls">
          <div class="checkout_controls_wrapper">
            <div class="checkout_controls_inner">

              <input id="preorder" name="preorder" type="hidden" value="true" />
              <input id="amazon_button" name="commit" type="submit" value="Checkout" />
            </div>
          </div>
        </div>
    </form>

      <p>
       <br>
       <h5> Your payment information will be stored and secure with Amazon Payments. If you don't have an Amazon account, simply select "I'm a new Customer" on the next page.</h5>
       <br />
        <h5><strong>Credit Card Notice</strong></h5>
        <h5>Your card will only be charged if and when the project is successfully funded.</h5>
        <h5><strong>Shipping</strong></h5>
        <h5>The estimated shipping date is May 2014. (Given that the campaign is successfully funded)</h5>
      </p>


    </div>
    <%= render 'preorder/checkout/sidebar' %>
    </div>

  </div>

</div>



