<%= render 'preorder/header_other' %>


<br />
<div class="wrapper-cheq center">
  <h2 class="mid">
  <div>
   <span class="font3"><%=image_tag 'getflahappy.png', alt: 'FLAPPY BIRD' %></span>
  </div>
 </h2>
</div>

 <div class="pull-mid">
   <div class="row">
     <div class="col-md-6"  style="width: 483px;margin-left:-1px; float:left;">
      <div class="leftside-cheq"
      <div class="main_content">
     <div class="imgbig big1"><%=image_tag 'flappy1.jpg', size: '391x275', display: 'none'  %></div>
      <div class="imgbig big2" style="display:none;"><%=image_tag 'flappy2.jpg', size: '391x275', display: 'none'  %></div>
      <div class="imgbig big3" style="display:none;"><%=image_tag 'flappy3.jpg', size: '391x275', display: 'none' %></div>

    <div class="imgthumb thumbnailcurrent" data-id="1" style="margin: 8px 8px 0 0;"><%=image_tag 'flappy1.jpg', size: '120x87'%></div>
      <div class="imgthumb thumbnails" data-id="2" style="margin: 8px 8px 0 0;"><%=image_tag 'flappy2.jpg', size: '120x87'%></div>
      <div class="imgthumb thumbnails" data-id="3"><%=image_tag 'flappy3.jpg', size: '120x87'%></div>
      <br />
      <h5 style="margin-top: 17px;"><br /><br /><br /><br /><br />Flappy comes with the game which will be FREE to download from the iOS App Store and Google Play Store</h5>
      <br />
      <h5><strong>Product Details:</strong></h5>
      <h5>- Flappy is 6.5 x 6 x 4 inches</h5>
      <h5>- He weighs 6 ounces</h5>
      <h5>- He supports <%= link_to 'these devices', faq_path %> and runs on two AAA batteries</h5>
      <h5>- Flappy rates (himself) 4.999 out of 5 stars</h5>
     </div>
    </div>

     <div style="width: 520px; float:right; margin-right:0px; margin-top: -652px;">
      <div class="rightside-cheq"
      <div class="main_content ">
      <form accept-charset="UTF-8" action="/preorder/prefill" id="checkout" method="post"><div style="margin:0;padding:0;display:inline">
        <%= hidden_field_tag :shared, 0 %>
       <span class="font-cheq">
        I WANT
        <input id="quantity" name="quantity" value="1" style="width: 60px;float: none; " type="number" min="1" required/> FLAPPY'S
      </span>
      <br /><br />
       <span class="font-cheq">SHIP TO</span>
          <select name="shippingoptions" id="shippingoptions">
            <% Order::SHIPPING_COST.each do |locale, price| %>
              <option value="<%= locale %>">
                <%= locale %> -
                <%= "$" + price.to_f.round(2).to_s %>
              </option>
            <% end %>
          </select><br/>
       <br /><br />

       Share with Facebook or Twitter to get free U.S. shipping:
       &nbsp;
       <span class="facebook-btn"><%= image_tag("facebook.png") %></span>
       &nbsp;
       <%= tweet_button image_tag("twitter.png") %>
       <br/><br/>

       <span class="font-cheq">TOTAL</span>
       <div id="totalprice" class="forminput" style="margin-right: 270px; width: 80px;">
        $<%= "%.2f" % (Settings.price + Order::SHIPPING_COST["United States"]) %>
       </div>
       <br /><br />

      <span class="font-cheq">EMAIL</span>
        <%= text_field_tag :from_email, nil, :class => "forminput", :placeholder => "Email", :type => "email", :required => true %>
      <br /><br />

      <span class="font-cheq">
        SEND AS GIFT?
        <%= check_box_tag :gift, :gift, @gift %>
      </span>
      <br /><br />

      <div id="gift-form-section" class="<%= @gift ? '' : 'hidden' %>">
        <div class="font-cheq clearfix">
          From:
          <%= text_field_tag :from_name, nil, :class => "forminput topinput", :placeholder => "Name" %>
        </div>
        <br />
        <div class="font-cheq clearfix">
          To:
          <%= text_field_tag :to_name, nil, :class => "forminput topinput", :placeholder => "Name" %>
          <%= text_field_tag :to_email, nil, :class => "forminput", :placeholder => "Email" %>
        </div>
        <br />
        <div class="font-cheq clearfix">
          Note:
          <%= text_area_tag :note, nil, :class => "forminput", :rows => 5,:placeholder => "Write a message"  %>
        </div>
        <br/>
       <h5 style="text-align: center; margin-top:10px;">Once you click ‘Checkout with Amazon’, we'll notify your friend via email.  Their shipping address will be collected at the end of the campaign.
      </h5></div>

      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="eHN/nv4yb3/Kk3Cy2NDLOJOCWzv7CWS/YAFopWAMHIg=" /></div>

        <div class="checkout_controls" style="margin-top:-20px;">
          <div class="checkout_controls_wrapper">
            <div class="checkout_controls_inner">

              <input id="preorder" name="preorder" type="hidden" value="true" />
              <input id="amazon_button" name="commit" type="submit" value="Checkout" />
            </div>
          </div>
        </div>
    </form>

      <p style="margin-top:-20px;">
       <h5 style="text-align:center;"> Your payment information will be stored and secure with Amazon Payments. If you don't have an Amazon account, simply select "I'm a new Customer" on the next page.</h5>
       <br />
        <h5><strong>Credit Card Notice</strong></h5>
        <h5>Your card will only be charged if and when the project is successfully funded.</h5>
        <h5><strong>Shipping</strong></h5>
        <h5>Your shipping information will be collected once the campaign is completed and successfully funded. <br/>
The estimated shipping date is May 2014.</h5>
      </p>


    </div>
    <%= render 'preorder/checkout/sidebar' %>
    </div>

  </div>

</div>

<br/><br/>


<div id="backing" style="margin-left:80px; text-align: center;">
<p class="first" style="text-align:center; margin-left: 280px; width: 500px; font-size:30px; text-shadow:none; color:#fff;">Getting there!</p>
<% if Order.revenue.to_f < Order.goal.to_f %>
 <div id="bottomprogress" style=" margin-left: 400px; margin-top:20px">
 <li class="stats statsbg" id="days" style="float:left; margin-left:-80px; margin-top:7px;line-height: .8; text-align:left; color: #fff; font-size: 34px;">

<% if Settings.expiration_date.present? %>
  <%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\D/, "") %>
  <span><%= distance_of_time_in_words_to_now(Settings.expiration_date).gsub(/\d/, "").gsub("about", "") %> left</span>
   <% else %>
   &infin;
  <span style="margin-left: -120px; ">days left</span>
  <% end %>

  <div id='progress_bg' class='small bottomprogressbg'>
    <div id='progress' class='bottomprogress' style='width: <%= Order.percent %>%; float:left'>
    </div><div id='progress_text' style="float: left; margin-top: -7px;"><%= Order.percent %>% <%= Settings.progress_text %></div>
  </div>
 </li>
 <% else %>
   <div id='progress_bg' class='small bottomprogressbg'>
   <div id='progress' class='bottomprogress' style='width: <%= Order.percent %>%; '>
   </div><div id='progress_text' style="float: left; margin-top: -7px;"><%= Order.percent %>% <%= Settings.progress_text %></div>
  </div>
  <% end %>
  </div>
 </div>




</div><br/><br/><br/><br/><br/><br/>




